.Wrapper {
	--navMargin: 70px;
	--navHeight: 60px;
}

.MainStyle {
	min-height: calc(100vh - var(--navHeight));
}

.NavbarStyle {
	height: var(--navHeight);
}

.NavbarStyle ul {
	flex-direction: column;
	left: -100vw;
}

.NavbarStyle .NavActive {
	left: 0;
}

.Wrapper {
	top: var(--navHeight);
	background-position: center var(--navHeight);
}

.NavImageLabelCouple:hover .NavImage {
	border: white solid 2px;
}

.NavImage {
	height: var(--navHeight);
	width: var(--navHeight);
}

@media (min-width: 768px) {
	.MainStyle {
		margin-top: var(--navMargin);
		min-height: calc(100vh - var(--navHeight) - var(--navMargin));
	}
	.Wrapper {
		background-position: right top var(--navHeight);
	}
}

@media (min-width: 640px) {
	.NavbarStyle ul {
		height: var(--navHeight);
		flex-direction: row;
	}
	.NavbarStyle button {
		display: none;
	}
}
